/* .ah{
    color: blue;
}
body{ */
    /* height: 5000px; */
    /* direction: rtl; */
}
/* #lh{
    color: red;
} */
/* h2 { */
    /* color: #e91e63;
    
    text-align:right; */
    
    /* height: 500px;
    /* background-image:url(03.jpg); */
    /* background-color: cornflowerblue; */
    /* background-repeat : no-repeat ; */
    /* background-size: cover;*/
    /*background-attachment: fixed; */
     /* background-position: bottom;  */
     /* background: color url() repeat attachement position; */
    /* background: red url(03.jpg) no-repeat fixed center; */
    /* direction: rtl,ltr; */
    /* text-align: center; */
    /* letter-spacing:opx ;
    word-spacing: 30px;
    line-height: 2; */

    /* text-decoration: none,overline,underline,line-through; */
   /* text-indent: 30px;: the spase of sparting */
    /* text-transform: capitalize;uppercase,lowercase */
    /* font-weight: bolder; */

    
} 
.h{
    /* font-size: ;
    font-weight: bold;
    font-family:fantasy
} */
/* border-width: 5px;
border-style: groove;
border-color: red; */
 /* border: 2px groove red;  */
 /* width:300px ; */
  /* padding: 0px 0px 0px 0px;  */
  /*top,right,bottom,left/*
  /* padding: 20[x 59px {top=botom} {rigt=left */
  /* padding-bottom: 0px; */
  /* /* margin: 30px; */
  /* margin-bottom: 100px; */ 
  /* margin-right: auto ;
  margin-left: auto;  the same of margin:auto*/
 /* margin-bottom:30px ; */
 /* display: inline-block */
 
 
 /* margin: -5px; */

  




  }







